---
import Post from "@components/Post.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import type { MarkdownInstance } from "astro";

let posts: MarkdownInstance<Record<string, any>>[];

try {
  posts = await Astro.glob("./*.md");
} catch (e) {
  posts = [];
}

// sort posts by date
posts.sort((a, b) => {
  const aDate = new Date(a.frontmatter.date);
  const bDate = new Date(b.frontmatter.date);
  return bDate.getTime() - aDate.getTime();
});
---

<BaseLayout pageTitle="All Posts - ZMC.DEV" isIndex={false}>
  <h1>All Posts</h1>
  <div class="posts">
    {posts.map((post) => <Post post={post} />)}
  </div>
</BaseLayout>

<style>
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 400;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
</style>
