$base-font-size: 1rem;
$effective-font-size: $base-font-size * 1;
$bp-small: 80rem;
$bp-medium: 100rem;
$bp-large: 140rem;
$bp-xlarge: 190rem;
$bp-xxlarge: 260rem;

$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(min-resolution: 192dpi),(-webkit-min-device-pixel-ratio: 2)";

$color-primary: #1a1a1a;
$color-secondary: #fff;

$font-color: $color-primary;