---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostStubList from "@components/PostStubList.astro";
import type { MarkdownInstance } from 'astro';

const pageTitle = "ZMC.DEV";

let posts: MarkdownInstance<Record<string, any>>[];
let projects: MarkdownInstance<Record<string, any>>[];

try {
	posts = await Astro.glob("../pages/posts/*.md");
	posts = posts.sort((a, b) => {
		return new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime();
	});
} catch (e) {
	posts = [];
}

try {
  projects = await Astro.glob("../pages/projects/*.md");
  projects = projects.sort((a, b) => {
    return new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime();
  });
} catch (e) {
  projects = [];
}
---

<BaseLayout pageTitle={pageTitle} isIndex={true} metaDescription="Zach Callahan's Professional Resume" tags={["resume", "zach callahan", "thezmc"]}>
  <article>
    <p>
      Hey! I'm Zach. I'm a full-stack developer, kubernetes evangelist, and open-source enthusiast.
      <a href="mailto:zach@zmc.dev">Get in touch with me</a> or check out my <a href="/resume">resume</a> if you think I can help you with your next project.
    </p>
		{
			posts.length > 0 && (
				<h3>Recent Posts</h3>
				<PostStubList posts={posts} qty={3} />
				<a href="/posts">View all posts &rarr;</a>
			)
		}
  </article>
</BaseLayout>

<style>
  article {
    display: flex;
    flex-direction: column;
  }
  article > a {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8rem;
    align-self: flex-end;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 300;
  }
  p {
    background: #ffffff55;
    border: 1px solid #ffffff77;
    box-shadow: 0 0 0.5rem 0.1rem #00000011;
    padding: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  p > a:hover {
    text-decoration: underline;
    color: inherit;
  }
</style>
