---
interface Props {
  isIndex?: boolean;
}
const { isIndex } = Astro.props;
---

<header>
  <a href="/">
    {
      isIndex ? (
        <h1>
          ZMC<span>dot</span>DEV
        </h1>
      ) : (
        <h2>
          ZMC<span>dot</span>DEV
        </h2>
      )
    }
  </a>
  <p>Feet on the ground. Head in the cloud.</p>
</header>

<style lang="scss">
  @use "../styles/variables.scss" as *;
  header {
    display: flex;
    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    header {
      justify-content: space-between;
    }
  }
  h1,
  h2 {
    font-weight: 400;
    letter-spacing: 0.5rem;
    white-space: nowrap;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
  }
  h1:hover,
  h2:hover {
    text-shadow: 0 0 0.5rem $color-secondary;
  }
  h1:hover span,
  h2:hover span {
    box-shadow: 0 0 0.5rem $color-secondary;
  }

  a {
    transition: all 0.1s ease-in-out;
  }
  span {
    font-size: 0.45rem;
    writing-mode: vertical-rl;
    background: $font-color;
    color: $color-secondary;
    text-transform: uppercase;
    letter-spacing: normal;
    vertical-align: baseline;
    border-radius: 0.15rem;
    padding: 0.25rem 0.1rem 0.25rem 0.05rem;
    margin: 0 0.6rem 0 0.25rem;
    transition: all 0.1s ease-in-out;
    display: inline-block;
    text-rendering: optimizeLegibility;
  }
  a:hover span {
    background: $color-secondary;
    color: $font-color;
  }
  p {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 500;
    margin: 0;
  }
  @media print {
    header {
      display: none;
    }
  }
</style>
