---
import BaseLayout from "@layouts/BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title + " - ZMC.DEV"} metaDescription={frontmatter.description}>
  <article class="post">
    <a class="all-posts" href="/posts">&larr; View All Posts</a>
    <img
      src={frontmatter.image ? frontmatter.image.url : "/journalist-on-laptop.png"}
      alt={frontmatter.image ? frontmatter.image.alt : "AI-generated image of journalist on laptop"}
    />
    <h1 class="post-title">{frontmatter.title}</h1>
    <div class="post-meta">
      <p class="primary-tag">{frontmatter.tags[0] || "GENERAL"}</p>
      <p class="publish-date">{frontmatter.date || "A WHILE AGO"}</p>
    </div>
    {frontmatter.description && <p class="post-description">{frontmatter.description}</p>}
    <slot />
  </article>
</BaseLayout>

<style is:global>
  article.post > a.all-posts {
    display: block;
    margin-bottom: 1rem;
    border: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  article.post {
    background: #ffffff55;
    border: 1px solid #ffffff77;
    box-shadow: 0 0 0.5rem 0.1rem #00000011;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
  }
  article.post > img {
    min-width: 0;
    border-radius: 0.25rem 0.25rem 0 0;
    margin-bottom: 1rem;
  }
  h1.post-title {
    font-size: 2.4rem;
    word-wrap: break-word;
    line-height: 1;
    font-weight: 800;
    text-align: left;
    margin-bottom: 0.5rem;
  }
  div.post-meta {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
  }
  p.primary-tag {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.15rem;
    background: #00000077;
    border-radius: 0.25rem;
    color: #ffffff;
    margin-right: 1rem;
  }
  p.post-description {
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-style: italic;
    padding: 0.5rem 1rem;
    background: #ffffff77;
    border: 1px solid #00000022;
    border-radius: 0.25rem;
  }
  article.post pre {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.25rem;
    overflow: hidden;
  }
  article.post a {
    color: #555555;
    font-weight: bold;
    text-decoration: none;
  }
  article.post a:hover {
    color: #000000;
  }
  article.post a:visited {
    color: #777777;
  }
  article.post a:visited:hover {
    color: #000000;
  }
  article.post p {
    margin-bottom: 1rem;
  }
  article.post > p > code {
    background: #00000022;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }
  article.post > blockquote {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.25rem;
    overflow: hidden;
    background: #00000011;
    border: 1px solid #00000011;
    border-left-width: 0.25rem;
  }
  article.post > blockquote > p {
    margin: 0;
  }
  article.post > img {
    border-radius: 0.25rem;
  }
  article.post > *:last-child {
    margin-bottom: 0;
  }
  article.post > hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid #00000011;
    border-bottom: 1px solid #ffffff55;
  }
</style>
