---
interface Props {
  isIndex?: boolean;
}
const { isIndex } = Astro.props;
---

<header>
  <a href="/">
    {
      isIndex ? (
        <h1>
          ZMC<span>dot</span>DEV
        </h1>
      ) : (
        <h2>
          ZMC<span>dot</span>DEV
        </h2>
      )
    }
  </a>
  <p>Feet on the ground. Head in the cloud.</p>
</header>

<style lang="scss">
  @reference "tailwindcss";
  header {
    display: flex;
    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    header {
      justify-content: space-between;
    }
  }
  h1,
  h2 {
    @apply font-bold;
    @apply tracking-widest;
    white-space: nowrap;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    transition: all 0.1s ease-in-out;
    @apply transition-colors;
    @apply gap-2;
  }
  h1:hover,
  h2:hover {
    color: white;
    text-shadow: 0 0 0.5rem white;
  }
  h1:hover span,
  h2:hover span {
    box-shadow: 0 0 0.5rem white;
  }

  a {
    transition: all 0.1s ease-in-out;
  }
  span {
    @apply tracking-tighter;
    @apply text-[0.5rem];
    @apply bg-black;
    @apply text-white;
    @apply rounded-full;
    @apply w-6;
    @apply h-6;
    @apply flex;
    @apply content-center;
    @apply align-middle;
    @apply transition-colors;
    @apply block;
    @apply -ml-1;
  }
  a:hover span {
    background: white;
    color: black;
  }
  p {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 500;
    margin: 0;
  }
  @media print {
    header {
      display: none;
    }
  }
</style>
