---
interface Props {
  isIndex?: boolean;
}
const { isIndex } = Astro.props;
---

<header>
  <a href="/">
    {
      isIndex ? (
        <h1 class="group/heading">
          ZMC<span>dot</span>DEV
        </h1>
      ) : (
        <h2 class="group/heading">
          ZMC<span>dot</span>DEV
        </h2>
      )
    }
  </a>
  <p>Feet on the ground. Head in the cloud.</p>
</header>

<style lang="scss">
  @reference "tailwindcss";

  header {
    @apply flex;
    @apply flex-wrap;
    @apply items-center;
    @apply justify-center;
    @apply gap-4;
    @apply mx-4;
    @apply sm:justify-between;
    @apply print:hidden;

    & h1, & h2 {
      @apply font-bold;
      @apply tracking-widest;
      @apply flex;
      @apply whitespace-nowrap;
      @apply text-4xl;
      @apply text-center;
      @apply flex;
      @apply items-center;
      @apply transition-all;
      @apply gap-2;
      @apply hover:text-shadow-[0_0_5px];
      @apply hover:text-white;
      @apply hover:text-shadow-white;

      & span {
        @apply tracking-tighter;
        @apply text-xs;
        @apply bg-black;
        @apply text-white;
        @apply rounded-full;
        @apply h-8;
        @apply aspect-square;
        @apply flex;
        @apply content-center;
        @apply align-middle;
        @apply transition-all;
        @apply block;
        @apply -ml-1;
        @apply -mt-1;
        @apply group-hover/heading:bg-white;
        @apply group-hover/heading:text-black;
        @apply group-hover/heading:shadow-white;
        @apply group-hover/heading:shadow-[0_0_5px];
      }
    }

    & p {
      @apply text-sm;
      @apply text-center;
      @apply font-medium;
      @apply m-0;
    }
  }
</style>
